<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    :width="width"
    :height="height"
    viewBox="50 50 940 600"
    xml:space="preserve"
  >
    <desc>Created with Fabric.js 3.5.0</desc>
    <defs></defs>
    <rect x="0" y="0" width="100%" height="100%" fill="none" />
    <g transform="matrix(1 0 0 1 471.6815 409.5021)" style="" id="480923">
      <path
        xml:space="preserve"
        font-family="Roboto"
        font-size="144"
        font-style="normal"
        font-weight="normal"
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-dashoffset: 0;
          stroke-linejoin: miter;
          stroke-miterlimit: 4;
          is-custom-font: none;
          font-file-url: none;
          fill-rule: nonzero;
          opacity: 1;
          white-space: pre;
        "
        :style="{ fill: textColor }"
        d="M-421.57-57.14L-404.13-57.14L-370.66 26.39L-337.19-57.14L-319.69-57.14L-319.69 45.24L-333.19 45.24L-333.19 5.37L-331.92-37.66L-365.53 45.24L-375.86 45.24L-409.40-37.45L-408.07 5.37L-408.07 45.24L-421.57 45.24L-421.57-57.14Z"
      />
      <path
        xml:space="preserve"
        font-family="Roboto"
        font-size="144"
        font-style="normal"
        font-weight="normal"
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-dashoffset: 0;
          stroke-linejoin: miter;
          stroke-miterlimit: 4;
          is-custom-font: none;
          font-file-url: none;
          fill-rule: nonzero;
          opacity: 1;
          white-space: pre;
        "
        :style="{ fill: textColor }"
        d="M-237.73-57.14L-237.73 45.24L-251.23 45.24L-251.23-57.14L-237.73-57.14Z"
      />
      <path
        xml:space="preserve"
        font-family="Roboto"
        font-size="144"
        font-style="normal"
        font-weight="normal"
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-dashoffset: 0;
          stroke-linejoin: miter;
          stroke-miterlimit: 4;
          is-custom-font: none;
          font-file-url: none;
          fill-rule: nonzero;
          opacity: 1;
          white-space: pre;
        "
        :style="{ fill: textColor }"
        d="M-90.74-57.14L-90.74 45.24L-104.31 45.24L-155.85-33.65L-155.85 45.24L-169.42 45.24L-169.42-57.14L-155.85-57.14L-104.17 22.10L-104.17-57.14L-90.74-57.14Z"
      />
      <path
        xml:space="preserve"
        font-family="Roboto"
        font-size="144"
        font-style="normal"
        font-weight="normal"
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-dashoffset: 0;
          stroke-linejoin: miter;
          stroke-miterlimit: 4;
          is-custom-font: none;
          font-file-url: none;
          fill-rule: nonzero;
          opacity: 1;
          white-space: pre;
        "
        :style="{ fill: textColor }"
        d="M-8.65-57.14L-8.65 45.24L-22.15 45.24L-22.15-57.14L-8.65-57.14Z"
      />
      <path
        xml:space="preserve"
        font-family="Roboto"
        font-size="144"
        font-style="normal"
        font-weight="normal"
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-dashoffset: 0;
          stroke-linejoin: miter;
          stroke-miterlimit: 4;
          is-custom-font: none;
          font-file-url: none;
          fill-rule: nonzero;
          opacity: 1;
          white-space: pre;
        "
        :style="{ fill: textColor }"
        d="M59.66-57.14L77.10-57.14L110.57 26.39L144.04-57.14L161.55-57.14L161.55 45.24L148.05 45.24L148.05 5.37L149.31-37.66L115.70 45.24L105.37 45.24L71.83-37.45L73.16 5.37L73.16 45.24L59.66 45.24L59.66-57.14Z"
      />
      <path
        xml:space="preserve"
        font-family="Roboto"
        font-size="144"
        font-style="normal"
        font-weight="normal"
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-dashoffset: 0;
          stroke-linejoin: miter;
          stroke-miterlimit: 4;
          is-custom-font: none;
          font-file-url: none;
          fill-rule: nonzero;
          opacity: 1;
          white-space: pre;
        "
        :style="{ fill: textColor }"
        d="M296.58 45.24L286.81 18.52L243.92 18.52L234.29 45.24L220.37 45.24L259.46-57.14L271.27-57.14L310.44 45.24L296.58 45.24ZM265.37-40.47L248.00 7.41L282.80 7.41L265.37-40.47Z"
      />
      <path
        xml:space="preserve"
        font-family="Roboto"
        font-size="144"
        font-style="normal"
        font-weight="normal"
        style="
          stroke: none;
          stroke-width: 1;
          stroke-dasharray: none;
          stroke-linecap: butt;
          stroke-dashoffset: 0;
          stroke-linejoin: miter;
          stroke-miterlimit: 4;
          is-custom-font: none;
          font-file-url: none;
          fill-rule: nonzero;
          opacity: 1;
          white-space: pre;
        "
        :style="{ fill: textColor }"
        d="M381.42-57.14L381.42 34.20L429.94 34.20L429.94 45.24L367.85 45.24L367.85-57.14L381.42-57.14Z"
      />
    </g>
  </svg>
</template>
<script lang="ts">
export default defineComponent({
  props: {
    width: {
      type: String,
      default: "200",
    },
    height: {
      type: String,
      default: "100",
    },
    color: {
      type: String,
      default: "black",
    },
  },
  computed: {
    textColor() {
      return this.color === "white" ? "#fff" : "#000";
    },
  },
});
</script>
<style lang=""></style>
