<template>
  <v-footer class="bg-black">
    <v-container>
      <v-row align="start" no-gutters>
        <v-col>
          <h2>MAY WE HELP YOU?</h2>
          <ul>
            <li>Contact Us</li>
            <li>My Order</li>
            <li>FAQs</li>
            <li>Email Unsubscribe</li>
          </ul>
        </v-col>
        <v-col>
          <h2>THE COMPANY</h2>
          <ul>
            <li>About Gucci</li>
            <li>Gucci Equilibrium</li>
            <li>Code of Ethics</li>
            <li>Careers</li>
            <li>Privacy & Cookie Policy</li>
          </ul></v-col
        >
        <v-col>
          <h2>GUCCI SERVICES</h2>
          <ul>
            <li>Discover our services</li>
            <li>Book an Appointment</li>
          </ul></v-col
        >
        <v-col cols="6">
          <h2>SIGN UP FOR GUCCI UPDATES</h2>
          <p>
            By entering your email address below, you consent to receiving our
            newsletter with access to our latest collections, events and
            initiatives. More details on this are provided in our Privacy Policy
          </p>
          <v-text-field
            label="E-mail"
            variant="underlined"
            class="tw-mt-4"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <p class="tw-w-full tw-text-right">
          © 2016 - 2022 Guccio Gucci S.p.A. - All rights reserved. SIAE LICENCE
          # 2294/I/1936 and 5647/I/1936
        </p>
      </v-row>
    </v-container>
  </v-footer>
</template>
<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({});
</script>
<style lang=""></style>
