<template>
  <header
    class="header tw-w-full tw-h-24 tw-fixed tw-top-0"
    :class="{
      'is-hidden': !isVisible,
      'tw-bg-transparent': lastScrollPosition < 100,
      'tw-bg-white': lastScrollPosition >= 100,
    }"
  >
    <div
      class="tw-flex tw-h-24 tw-w-full tw-px-16 tw-justify-between tw-items-center"
    >
      <Icon
        class="tw-cursor-pointer"
        name="fluent-mdl2:numbered-list-text"
        :color="lastScrollPosition < 100 ? 'white' : 'black'"
        size="1.5rem"
        @click="$emit('update:show-navigation')"
      />
      <!-- <span class="tw-text-primary tw-text-5xl">minimal</span> -->
      <!-- <img class='tw-w-52'  src="/home/logo.svg"   />  -->
      <logo
        width="250"
        height="100"
        :color="lastScrollPosition < 100 ? 'white' : 'black'"
        class="tw-cursor-pointer"
        @click="navigateTo('/')"
      />
      <Icon
        name="simple-line-icons:magnifier"
        class="tw-cursor-pointer"
        :color="lastScrollPosition < 100 ? 'white' : 'black'"
        size="1.5rem"
        @click="isSearch = true"
      />
    </div>
    <div
      class="tw-absolute tw-top-0 tw-bg-white tw-w-full tw-h-full tw-flex tw-items-center tw-justify-center"
      :class="{ 'is-show': isSearch, 'is-hidden': !isSearch }"
    >
      <div class="tw-w-[75rem] tw-mx-10">
        <v-text-field
          v-model="search"
          @update:model-value="handleSearchItem"
          hide-details
          placeholder="Search..."
          variant="outlined"
          prepend-inner-icon="simple-line-icons:magnifier"
        >
          <template v-slot:append-inner="">
            <Icon
              name="simple-line-icons:magnifier"
              class="tw-cursor-pointer"
              color="black"
              size="1.5rem"
            />
          </template>
        </v-text-field>
      </div>

      <v-btn variant="text" icon size="small" @click="isSearch = false">
        <Icon
          name="mdi-close"
          class="tw-cursor-pointer"
          color="black"
          size="1.5rem"
        />
      </v-btn>
    </div>
  </header>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import { debounce } from "lodash";

import logo from "~/public/home/logo.vue";
export default defineComponent({
  components: {
    logo,
  },
  data() {
    return {
      isVisible: true,
      isSearch: false,
      lastScrollPosition: 0,
      search: "",
    };
  },
  mounted() {
    this.lastScrollPosition = (window as any).pageYOffset;
    window.addEventListener("scroll", this.handleHeaderScroll);
  },
  beforeUnmount() {
    window.removeEventListener("scroll", this.handleHeaderScroll);
  },

  computed: {
    pageYOffset() {
      return (window as any).pageYOffset;
    },
  },
  methods: {
    handleHeaderScroll(e: any) {
      this.isVisible = (window as any).pageYOffset < this.lastScrollPosition;
      this.lastScrollPosition = (window as any).pageYOffset;
    },

    handleSearchItem: debounce((val: string) => {
      try {
        console.log(val);
      } catch (error) {}
    }, 500),
  },
});
</script>
<style scoped>
.header {
  transform: translateY(0);
  transition: transform 0.8s ease-in-out;
}

.header.is-hidden,
.is-hidden {
  transform: translateY(-100%);
  transition: transform 0.1s ease-in-out;
}

.is-show {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
</style>
