@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary : #000;
    --secondary: #b9b9b9;
    --negative: #dd2c2c;
    --white: #fff;
    --black: #000

}

.link-flash {
    --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  
    position: relative;
  
    &::before,
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -0.1rem;
      display: block;
      width: 100%;
      height: 1px;
      background: var(--primary);
      transition: 1.1s var(--ease-out-expo);
    }
  
    &::before {
      transform: scaleX(0);
      transform-origin: left;
    }
  
    &::after {
      transform-origin: right;
      transition-delay: 0.25s;
    }
  
    &:hover {
      &::before {
        transform: scaleX(1);
        transition-delay: 0.25s;
      }
  
      &::after {
        transform: scaleX(0);
        transition-delay: 0s;
      }
    }
  }