<template>
  <v-app>
    <Header class="tw-z-20" @update:show-navigation="drawer = !drawer" />
    <v-navigation-drawer temporary v-model="drawer" width="300">
      <v-list>
        <v-list-item
          prepend-icon="mdi-view-dashboard"
          title="Home"
          value="home"
          @click="drawerLv2 = !drawerLv2"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main class="block">
      <div>
        <slot />
      </div>
    </v-main>
    <!-- <v-footer>
      <Footer />
    </v-footer> -->
    <Footer />
  </v-app>
</template>
<script lang="ts">
import { defineComponent } from "vue";
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";
export default defineComponent({
  components: {
    Header,
    Footer,
  },
  data() {
    return {
      drawer: false,
      drawerLv2: false,
    };
  },
});
</script>
<style lang="scss" scoped>
.overflow-hidden {
  overflow: hidden;
}
</style>
