<template>
  <div class="tw-w-full">
    <v-img class="tw-col-span-1" cover src="/home/BC_GLASSES.jpg"></v-img>
  </div>
  <div class="tw-px-4">
    <div class="tw-py-36 tw-text-center">
      <span class="tw-uppercase tw-font-medium tw-text-xl">collections</span>
    </div>
    <div class="tw-w-full tw-grid tw-grid-cols-2 tw-gap-4">
      <div class="tw-relative">
        <v-img
          class="tw-col-span-1"
          cover
          src="/home/Portrait_Summer-Evenings-ROW.avif"
        ></v-img>
        <div
          class="tw-cursor-pointer tw-z-10 tw-top-0 tw-absolute tw-w-full tw-h-full tw-flex tw-flex-col tw-items-center tw-justify-between tw-py-16"
          @click.self="navigateTo('women')"
        >
          <div>
            <v-chip class="ma-2" label color="white"> WOMEN </v-chip>
          </div>

          <div class="tw-flex tw-flex-col tw-justify-between tw-items-center">
            <span
              class="tw-text-5xl tw-text-white tw-py-5 tw-uppercase"
              @click="navigateTo('women')"
              >Bag</span
            >
            <nuxt-link to="women" class="bttn"
              >explore the collection</nuxt-link
            >
          </div>
        </div>
      </div>
      <div class="tw-relative">
        <v-img
          class="tw-col-span-1"
          cover
          src="/home/Gucci_Desktop_Routing.avif"
        ></v-img>
        <div
          class="tw-cursor-pointer tw-z-10 tw-top-0 tw-absolute tw-w-full tw-h-full tw-flex tw-flex-col tw-items-center tw-justify-between tw-py-16"
          @click.self="navigateTo('women')"
        >
          <div>
            <v-chip class="ma-2" label color="white"> WOMEN </v-chip>
          </div>

          <div class="tw-flex tw-flex-col tw-justify-between tw-items-center">
            <span
              class="tw-text-5xl tw-text-white tw-py-5 tw-uppercase"
              @click.self="navigateTo('women')"
              >shoes</span
            >
            <nuxt-link to="#" class="bttn">explore the collection</nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tw-max-w-[1440px] tw-mx-auto tw-px-4">
    <div class="tw-py-36 tw-text-center">
      <span class="tw-uppercase tw-font-medium tw-text-xl">feature</span>
    </div>
    <div class="tw-w-full tw-grid tw-grid-cols-2 tw-gap-4">
      <v-img class="tw-col-span-1" cover src="/home/Feature.avif"></v-img>
      <div class="tw-m-auto">
        <div class="tw-max-w-[420px] tw-w-auto tw-text-center">
          <h2 class="tw-text-5xl tw-mb-8">GUCCI HORSEBIT 1955</h2>
          <span class="tw-block tw-mb-12"
            >Halle Bailey, Hanni, and Julia Garner bring a new perspective to
            the heritage-infused bag.</span
          >
          <nuxt-link
            to="#"
            class="link-flash tw-uppercase tw-font-bold tw-text-xs"
          >
            discovery more
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  data() {
    return {};
  },
});
</script>
<style lang="scss" scoped>
.bttn {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 230px;
  font-weight: 500;
  padding: 14px 0px;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
  border-radius: 2px;

  &::after,
  &::before {
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    content: "";
    background-color: #c1c1c1;
    z-index: -1;
  }
  &::before {
    background-color: var(--white); /* button default background color */
    z-index: -2;
    left: 0;
    right: 0;
  }
  &:hover {
    color: var(--white);
    &::after {
      -webkit-transition: 0.3s ease-in;
      transition: 0.3s ease-in;
      left: 0;
      right: 0;
    }
  }
  // &:focus {
  //   &::after {
  //     transition: 0.5s all ease;
  //     left: 0;
  //     right: 0;
  //     opacity: 1;
  //   }
  // }
}
</style>
