<template>
  <div class="tw-relative tw-w-full">
    <v-img cover src="/women/Women.avif"></v-img>
    <div
      class="tw-absolute tw-pt-40 tw-top-0 tw-flex tw-items-center tw-justify-center tw-w-full tw-h-full tw-z-1"
    >
      <h1
        class="tw-uppercase tw-text-5xl tw-text-white tw-font-sans tw-tracking-widest"
      >
        Women
      </h1>
    </div>
  </div>
  <div class="tw-p-4">
    <div class="tw-w-full tw-grid grid-cols-6 grid-rows-4 tw-gap-[1px]">
      <div
        class="tw-col-start-1 tw-col-span-3 tw-row-start-1 tw-row-end-3 tw-bg-[#e7e7e7] tw-flex tw-justify-center"
      >
        <div class="tw-mt-6">
          <img src="/women/Clothings.avif" />
          <div class="tw-text-center">
            <h2 class="tw-uppercase tw-text-3xl tw-font-thin">ready to wear</h2>
            <nuxt-link
              to="#"
              class="link-flash tw-uppercase tw-font-bold tw-text-xs"
            >
              discovery more
            </nuxt-link>
          </div>
        </div>
      </div>
      <div
        class="tw-relative tw-col-span-3 tw-col-end-7 tw-row-span-1 tw-bg-[#e7e7e7] tw-flex tw-justify-center tw-items-center"
      >
        <img class="" src="/women/Bags.avif" />
        <div class="tw-absolute tw-bottom-20 tw-text-center">
          <h2 class="tw-uppercase tw-text-3xl tw-font-thin">handbags</h2>
          <nuxt-link
            to="#"
            class="link-flash tw-uppercase tw-font-bold tw-text-xs"
          >
            discovery more
          </nuxt-link>
        </div>
      </div>
      <div
        class="tw-bg-[#e7e7e7] tw-relative tw-col-span-3 tw-flex tw-justify-center tw-items-center"
      >
        <img src="/women/Shoes.avif" />
        <div class="tw-absolute tw-bottom-20 tw-text-center">
          <h2 class="tw-uppercase tw-text-3xl tw-font-thin">shoes</h2>
          <nuxt-link
            to="#"
            class="link-flash tw-uppercase tw-font-bold tw-text-xs"
          >
            discovery more
          </nuxt-link>
        </div>
      </div>
      <div
        class="tw-bg-[#e7e7e7] tw-relative tw-col-span-3 tw-flex tw-justify-center tw-items-center"
      >
        <img src="/women/Wallets.avif" />
        <div class="tw-absolute tw-bottom-20 tw-text-center">
          <h2 class="tw-uppercase tw-text-3xl tw-font-thin">
            Wallets & Small Accessories
          </h2>
          <nuxt-link
            to="#"
            class="link-flash tw-uppercase tw-font-bold tw-text-xs"
          >
            discovery more
          </nuxt-link>
        </div>
      </div>
      <div
        class="tw-bg-[#e7e7e7] tw-relative tw-col-span-3 tw-flex tw-justify-center tw-items-center"
      >
        <img src="/women/Belts.avif" />
        <div class="tw-absolute tw-bottom-20 tw-text-center">
          <h2 class="tw-uppercase tw-text-3xl tw-font-thin">Belts</h2>
          <nuxt-link
            to="#"
            class="link-flash tw-uppercase tw-font-bold tw-text-xs"
          >
            discovery more
          </nuxt-link>
        </div>
      </div>
      <div
        class="tw-bg-[#e7e7e7] tw-relative tw-col-span-2 tw-flex tw-justify-center tw-items-center"
      >
        <img src="/women/Watches.avif" />
        <div class="tw-absolute tw-bottom-10 tw-text-center">
          <h2 class="tw-uppercase tw-text-3xl tw-font-thin">Watches</h2>
          <nuxt-link
            to="#"
            class="link-flash tw-uppercase tw-font-bold tw-text-xs"
          >
            discovery more
          </nuxt-link>
        </div>
      </div>
      <div
        class="tw-bg-[#e7e7e7] tw-relative tw-col-span-2 tw-flex tw-justify-center tw-items-center"
      >
        <img src="/women/Jewellery.avif" />
        <div class="tw-absolute tw-bottom-10 tw-text-center">
          <h2 class="tw-uppercase tw-text-3xl tw-font-thin">Jewellery</h2>
          <nuxt-link
            to="#"
            class="link-flash tw-uppercase tw-font-bold tw-text-xs"
          >
            discovery more
          </nuxt-link>
        </div>
      </div>
      <div
        class="tw-bg-[#e7e7e7] tw-relative tw-col-span-2 tw-flex tw-justify-center tw-items-center"
      >
        <img src="/women/Glasses.avif" />
        <div class="tw-absolute tw-bottom-10 tw-text-center">
          <h2 class="tw-uppercase tw-text-3xl tw-font-thin">Eyeswear</h2>
          <nuxt-link
            to="#"
            class="link-flash tw-uppercase tw-font-bold tw-text-xs"
          >
            discovery more
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  data() {
    return {};
  },
});
</script>
<style lang="scss" scoped>
.bttn {
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 230px;
  font-weight: 500;
  padding: 14px 0px;
  background-color: transparent;
  border-radius: 2px;
  position: relative;
  border-radius: 2px;

  &::after,
  &::before {
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    content: "";
    background-color: #c1c1c1;
    z-index: -1;
  }
  &::before {
    background-color: var(--white); /* button default background color */
    z-index: -2;
    left: 0;
    right: 0;
  }
  &:hover {
    color: var(--white);
    &::after {
      -webkit-transition: 0.3s ease-in;
      transition: 0.3s ease-in;
      left: 0;
      right: 0;
    }
  }
  // &:focus {
  //   &::after {
  //     transition: 0.5s all ease;
  //     left: 0;
  //     right: 0;
  //     opacity: 1;
  //   }
  // }
}
</style>
